[submodule "cpe390"]
	path = cpe390
	url = https://github.com/stevensdeptece/cpe390
[submodule "cpe-390-programminghw-jschmidtnj"]
	path = cpe-390-programminghw-jschmidtnj
	url = https://github.com/sit-cpe390-2019s/cpe-390-programminghw-jschmidtnj
